.body {
  margin-top: 5vh;
  margin-left: 25vw;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  height: 4em;
}

td {
  height: 15em;
  width: 15em;
  padding: 1em;
  text-align: right;
  vertical-align: top;
}

td:hover {
  background-color: #f0eeee;
  cursor: pointer;
}

.activity {
  border: 0.05em solid #4f4f4f;
  border-radius: 0.5em;
  height: 3em;
  text-align: center;
  line-height: 3em;
  margin: 1em;
}

.plans {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3em;
  justify-content: space-around;
}

.plan {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 1em;
}

.plan-form {
  display: flex;
  flex-direction: column;
  margin: 1em;
  width: 20em;
}

.viewTypeButton {
  background-color: #d6cba4;
  padding: 1em;
  font-weight: bold;
  padding: 1em;
  margin: 1em;
  width: 16vw;
}

.viewTypeButton:hover {
  cursor: pointer;
  opacity: 0.5;
}

.chooseViewTypes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.activityHeader {
  font-size: 1.3em;
  background-color: #e1e0e0;
  font-weight: bold;
  width: 30vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

.allActivitiesWithMap {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.modalHeader {
  margin: 10 10 20px;
  margin-left: 2em;
  line-height: 1;
  font-size: 2em;
  font-weight: 400;
}

input {
  outline: none;
  display: block;
  width: 80%;
  height: 10%;
  margin: 0 0 20px;
  margin-left: 2em;
  padding: 10px 15px;
  border: 1px solid #ccc;
  font-size: 1em;
  transition: 0.2s linear;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &input:focus {
    color: #333;
    border: 1px solid #44c4e7;
  }
}

button {
  cursor: pointer;
  background: #44c4e7;
  padding: 10px 15px;
  margin-left: 2.3em;
  border: 0;
  color: #fff;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  height: 10%;
  width: 84%;
  &:hover {
    background: #369cb8;
  }
}

.error,
.valid {
  display: none;
}
