.body {
  margin-top: 5vh;
}

table,
th,
td {
  border: 1px solid black;
}

.calendar table {
  border-collapse: collapse;
  border-style: hidden;
}

.calendar th {
  height: 6vmin;
  width: 6vmin;
  vertical-align: bottom;
}

.calendar td {
  font-family: "Soulmaze Brush";
  font-size: 2em;
  height: 8vmin;
  width: 8vmin;
  text-align: right;
  vertical-align: top;
  color: #2b2f48;
}

.calendar table tr:first-child td {
  border-top: 0;
}
.calendar table tr td:first-child {
  border-left: 0;
}
.calendar table tr:last-child td {
  border-bottom: 0;
}
.calendar table tr td:last-child {
  border-right: 0;
}

.planDetails td,
th {
  padding: 1vmin;
}

.calendarContainer {
  display: grid;
  grid-template-columns: 1.5fr 1fr 7fr 0.5fr 1fr;
  grid-template-rows: 1fr 3fr 1fr 3fr;
}

.calendar {
  width: 58vmin;
  height: 58vmin;
  box-shadow: inset 4px 4px 16px #2b2834, inset -4px -4px 16px #0c0c0c;
  border-radius: 20px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 5;
  margin: auto;
}

.planContainer {
  display: grid;
  grid-template-columns: 0.5fr 1fr 7fr 0.5fr 1fr;
  grid-template-rows: 1fr 3fr 1fr 3fr;
}

.planDetails {
  width: 58vw;
  box-shadow: inset 4px 4px 16px #2b2834, inset -4px -4px 16px #0c0c0c;
  border-radius: 20px;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 5;
}

.month {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 8em;
  text-align: right;
  font-family: "Soulmaze Brush";
  padding-right: 20vw;
  justify-self: right;
}

.year {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 8em;
  font-family: "Soulmaze Brush";
  text-align: right;
  padding-right: 1vw;
}

.leftArrow {
  grid-column: 2 / 2;
  grid-row: 3 / 4;
  border-radius: 5em;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 3vw;
  height: 3vw;
  box-shadow: inset 4px 4px 16px #2b2834, inset -4px -4px 16px #0c0c0c;
  align-self: center;
  justify-self: right;
  margin-right: 1em;
}

.leftArrow:hover {
  cursor: pointer;
}

.rightArrow {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  border-radius: 5em;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 3vw;
  height: 3vw;
  box-shadow: 4px 4px 16px #2b2834, -4px -4px 16px #0c0c0c;
  align-self: center;
  justify-self: left;
  transform: rotate(180deg);
  margin-left: 1em;
}

.rightArrow:hover {
  cursor: pointer;
}

.dowContainer {
  background-color: rgb(22, 23, 32);
  color: white;
  height: 50%;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.activitiesContainer {
  margin-top: 2vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.activity {
  border-radius: 5em;
  box-shadow: inset 1px 1px 4px #2b2834, inset -1px -1px 4px #0c0c0c;
  width: 2.5vw;
  height: 2.5vw;
}

.activity:hover {
  cursor: pointer;
}

img {
  margin-right: 0.7vw;
  margin-top: 0.7vw;
  height: 1vw;
}

.plans {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3em;
  justify-content: space-around;
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-content: flex-end;
  margin: 1em;
  font-weight: bold;
  font-size: 1.3em;
  width: 10vw;
  height: 10vw;
  box-shadow: inset 2px 2px 8px #2b2834, inset -2px -2px 8px #0c0c0c;
  border-radius: 1em;
  color: white;
}

.plan:hover {
  cursor: pointer;
}

.planLabel {
  margin-top: 0;
  margin-bottom: 0;
}

.modalContent {
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 15%;
}

.modalHeader {
  margin: 10 10 20px;
  margin-left: 2em;
  line-height: 1;
  font-size: 2em;
  font-weight: 400;
}

input {
  width: 80%;
  height: 15%;
  padding: 20px;
  font-size: 1em;
  background-color: #1e202c;
  box-shadow: 1px 1px 2px #2b2834, -1px -1px 2px #0c0c0c;
  border: 0;
  color: white;
}

button {
  margin-top: 3em;
  margin-left: 25%;
  width: 40%;
  border-radius: 5em;
  padding: 20px;
  background-image: linear-gradient(
    to right,
    rgba(66, 0, 255, 0.3),
    rgba(41, 43, 54, 0.3)
  );
  background-color: #151723;
  color: white;
  font-size: 1.3em;
  font-family: "Soulmaze";
  letter-spacing: 2px;
  border: 0;
}

button:hover {
  cursor: pointer;
}

.label {
  margin-bottom: 2em;
  margin-top: 2em;
}

.activityWithMap {
  border-radius: 55px;
  background-color: #242737;
  width: 25vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 6em 2em 4em 25vw;
  color: white;
}

.activityMap {
  grid-column: 1 / 4;
  grid-row: 4 / 4;
}

p {
  height: 1.5em;
}

.icon {
  z-index: 1;
  margin-left: 5em;
  border-radius: 5em;
  box-shadow: inset 1px 1px 2px #2b2834, inset -1px -1px 2px #0c0c0c;
  width: 5em;
  height: 5em;
  background-color: #242737;
}

.allActivitiesWithMap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
}

.connectToStrava:hover {
  cursor: pointer;
}

.startPlanButton {
  color: white;
  background-color: green;
  box-shadow: inset 1px 1px 2px #2b2834, inset -1px -1px 2px #0c0c0c;
  font-size: 2em;
  width: 15%;
  padding: 1em;
  margin-left: 65%;
  border-radius: 2em;
}

.startPlanButton:hover {
  cursor: pointer;
}

.activityModal {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30%;
}

.errorMessage {
  padding-top: 1em;
  color: red;
}

.welcomeMessage {
  font-family: "Soulmaze Brush";
  color: white;
  font-size: 3em;
  text-align: center;
}
