.header {
  width: 100%;
  height: 25%;
  font-family: "Soulmaze";
  color: #1e202c;
  display: grid;
  grid-template-columns: 20% 60% 10% 10%;
}

.current {
  font-weight: bold;
  text-align: center;
  font-size: 8em;
  grid-column-start: 2;
  grid-column-end: 3;
  padding-top: 5%;
  overflow: hidden;
  -webkit-text-stroke: 0.4px white;
}

.authBlock {
  grid-column-start: 3;
  grid-column-end: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 15%;
  height: 10em;
}

.signUpButton {
  font-size: 1em;
  text-align: center;
  width: 9em;
  background-image: linear-gradient(to right, #9453ff, #0085ff);
  height: 33%;
  border-radius: 2em;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  letter-spacing: 0.1em;
}

.logoutButton {
  font-size: 1em;
  text-align: center;
  width: 9em;
  height: 33%;
  border-radius: 2em;
  box-shadow: 4px 4px 12px #363a4f, -4px -4px 12px #000000;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  letter-spacing: 0.1em;
}

.loginButton {
  font-size: 1em;
  text-align: center;
  width: 9em;
  height: 33%;
  border-radius: 2em;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  letter-spacing: 0.1em;
}

.loginButton:hover {
  cursor: pointer;
}

.signUpButton:hover {
  cursor: pointer;
}

.logoutButton:hover {
  cursor: pointer;
}

.navBar {
  grid-column-start: 1;
  grid-column-end: 5;
  font-family: "Soulmaze";
  font-size: 1.4em;
  letter-spacing: 0.1em;
  display: grid;
  padding-left: 28%;
  grid-template-columns: 17% 5% 17% 5% 17%;
  color: white;
}

.navItem {
  text-align: center;
}

.navItem:hover {
  cursor: pointer;
}
